<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="bg-dark">
      <div class="col-100">
        <h1 class="color-white"><%= title %></h1>
      </div>
    </header>
    <section>
      <div class="col-30 bo-grey">
        <form action="/add" method="post">
          <legend>Incluir nova tarefa</legend>
          <input type="text" name="title" placeholder="Insira um titulo">
          <textarea name="description" id="" cols="30" rows="10" placeholder="Insira uma descrição"></textarea>
          <button type="submit"> + ADD</button>
      </form>
    </div>
      <div class="col-70">
        <table>
          <tbody>
            <tr>
              <td>#1<strong>Teste</strong></td>
              <td class="actions"><a href="/turn/1" class="color-red">Not Ok</a></td>
              <td class="highlight">Fazer testes com postman</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </body>
</html>
